{% extends "base.html" %}

{% block content %}
<div class="container" style="background-color:white;">
    <h1>Welcome to connect us!</h1>
    
    <div class="row" style="background-color:white;">
        <div class="col-md-6"  style="background-color:white; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <h2>Victor Gebarski</h2><br>
            <p>Lawer</p><br>
            <p>Email: victor@winpublic.com.au</p>
        </div>
        <div class="col-md-6"  style="background-color:white; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <h2>Qianyi Lu</h2><br>
            <p>programmer</p><br>
            <p>Email: lqyclaude@gmail.com</p>
        </div>
</div>
{% endblock %}